
			<form class="crucigrama" >

				<input type="text" maxlength="1" onkeyup ="crucigrama1()" placeholder ="1" class="box" id="1">
				<input type="text" maxlength="1" onkeyup ="crucigrama2()" placeholder="2" class="box" id="2">
				<input type="text" maxlength="1" onkeyup ="crucigrama3()" placeholder="3" class="box" id="3">
				<input type="text" maxlength="1" onkeyup ="crucigrama4()" placeholder="4" class="box" id="4">
				<input type="text" maxlength="1" onkeyup ="crucigrama5()" placeholder="5" class="box" id="5">
				<input type="text" maxlength="1" onkeyup ="crucigrama6()" placeholder="2" class="box" id="6">
				<input type="text" maxlength="1" onkeyup ="crucigrama7()" class="box" id="7">
				<input type="text" maxlength="1" onkeyup ="crucigrama8()" class="box" id="8">
				<input type="text" maxlength="1" onkeyup ="crucigrama9()" class="box" id="9">
				<input type="text" maxlength="1" onkeyup ="crucigrama10()" class="box" id="10">
				<input type="text" maxlength="1" onkeyup ="crucigrama11()" placeholder="3" class="box" id="11">
				<input type="text" maxlength="1" onkeyup ="crucigrama12()" class="box" id="12">
				<input type="text" maxlength="1" onkeyup ="crucigrama13()" class="box" id="13">
				<input type="text" maxlength="1" onkeyup ="crucigrama14()" class="box" id="14">
				<input type="text" maxlength="1" onkeyup ="crucigrama15()" class="box" id="15">
				<input type="text" maxlength="1" onkeyup ="crucigrama16()" placeholder="4" class="box" id="16">
				<input type="text" maxlength="1" onkeyup ="crucigrama17()" class="box" id="17">
				<input type="text" maxlength="1" onkeyup ="crucigrama18()" class="box" id="18">
				<input type="text" maxlength="1" onkeyup ="crucigrama19()" class="box" id="19">
				<input type="text" maxlength="1" onkeyup ="crucigrama20()" class="box" id="20">
				<input type="text" maxlength="1" onkeyup ="crucigrama21()" placeholder="5" class="box" id="21">
				<input type="text" maxlength="1" onkeyup ="crucigrama22()" class="box" id="22">
				<input type="text" maxlength="1" onkeyup ="crucigrama23()" class="box" id="23">
				<input type="text" maxlength="1" onkeyup ="crucigrama24()" class="box" id="24">
				<input type="text" maxlength="1" onkeyup ="crucigrama25()" class="box" id="25">
				<button type="submit" onclick="#" class="btn" >continùa</button>
			</form>

			
			<div class="preguntas">
				<ol class="vertical">
					<p>Verticáles</p>
					<li>Mesa consagrada</li>
					<li>Perdida del equilibro</li>
					<li>Lo de ahi. - La ultima letra.</li>
					<li>Segunda nota musical. - Negacion.</li>
					<li>Mandato.</li>
				</ol>
				<ol class="horizontal">
					<p>Horizontales</p>		
					<li>Aleación de hierro y carbono.</li>
					<li>Potente haz de luz.</li>
					<li>Hermano del padre. - 500 en numeros romanos.</li>
					<li>Anno Domini. - Noreste.</li>
					<li>Causa, motivo.</li>
				</ol>
			</div>