.box{
	border: 1px, black;
	float: left;
	height: 50px;
	width: 50px;
	padding: 0;
	margin: 0;
	font-size: 50px;
	text-align: center;
	text-transform: capitalize;

}
.crucigrama {
	width: 300px;
	height: 300px;
	margin: 0 15px;
	float: left;
}
.block {
	background: black;
}
h1 {
	text-align: center;
}
.preguntas{
	float: left;	
}
.lista{
	width: 25%;
	float: left;
}
.done{
	background: green;
	color: white;
	font-size: 50;
}
.btn{


	padding: 3px;
	margin: 15px auto;

}
.contenedor {
	background: gray;
	height: 90%;
	width: 80%;
	margin: auto;
}